- name: Build and push nginx-secure image to ACR (Podman)
  hosts: localhost
  gather_facts: false

  vars:
    repo_root: "{{ playbook_dir }}/.."
    image_dir: "{{ repo_root }}/podman/nginx-secure"
    image_name: "podman/nginx-secure"
    image_tag: "casopractico2"

    # ACR: usa tu output de Terraform (ya lo tienes)
    acr_login_server: "pablocondecp2zbo9ruacr.azurecr.io"

    full_image: "{{ acr_login_server }}/{{ image_name }}:{{ image_tag }}"

  tasks:
    - name: Ensure podman is installed
      ansible.builtin.command: podman --version
      changed_when: false

    - name: Ensure Azure CLI is installed
      ansible.builtin.command: az --version
      changed_when: false

    - name: Login to ACR (uses your current az login session)
      ansible.builtin.command: az acr login --name "{{ acr_login_server.split('.')[0] }}"
      changed_when: false

    - name: Build image with Podman
      ansible.builtin.command: >
        podman build -t "{{ full_image }}" -f "{{ image_dir }}/Containerfile" "{{ image_dir }}"
      args:
        chdir: "{{ repo_root }}"
      changed_when: true

    - name: Push image to ACR
      ansible.builtin.command: podman push "{{ full_image }}"
      changed_when: true