---
- name: Crear secret Redis en AKS (sin kubectl)
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ playbook_dir }}/../group_vars/all/common.yml"
    - "{{ playbook_dir }}/../group_vars/vault.yml"
  roles:
    - aks_secrets

# ---
# - name: Create Kubernetes secrets for CP2 (from Ansible Vault) - without kubectl
#   hosts: localhost
#   connection: local
#   gather_facts: false
#   vars_files:
#     - group_vars/vault.yml

#   vars:
#     kubeconfig_path: "{{ kubeconfig_path | default(omit) }}"

#   tasks:
#     - name: Apply redis secret to AKS (kubernetes.core.k8s)
#       kubernetes.core.k8s:
#         state: present
#         kubeconfig: "{{ kubeconfig_path }}"
#         definition: "{{ lookup('template', 'templates/redis-secret.yaml.j2') | from_yaml }}"