---
- name: Preparar VM (Ubuntu) e instalar Podman
  hosts: vm
  become: true
  gather_facts: true

  tasks:
    - name: APT update
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Instalar Podman y dependencias útiles (rootless)
      ansible.builtin.apt:
        name:
          - podman
          - uidmap
          - slirp4netns
          - fuse-overlayfs
          - containernetworking-plugins
        state: present

    - name: Verificar versiones
      ansible.builtin.command: podman --version
      register: podman_version
      changed_when: false

    - name: Mostrar versión Podman
      ansible.builtin.debug:
        var: podman_version.stdout
