---
- name: APT update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Instalar Podman y dependencias (rootless)
  ansible.builtin.apt:
    name:
      - podman
      - uidmap
      - slirp4netns
      - fuse-overlayfs
      - containernetworking-plugins
    state: present